{% extends 'header.html' %}

{% block title %} Home {% endblock %}
{% block homeactive %} active {% endblock homeactive %}


{% block body %}
{% load static %}


<body>
<h1>Instructions</h1>
<p>Below, is an interactive tool that displays the health of an ecosystem.
The heat map shows the amount of birds in a given area.  There are filters on the side of map that will allow for there 
to be different aspects to be viewed seperately or together. Feel free to interact with our button here.  
</p>
</br>
<a href="/map" class="btn btn-secondary" >
    Map
</a>


</body>





{% endblock %}