{% extends 'header.html' %}

{% block title %} Home {% endblock %}
{% block homeactive %} active {% endblock homeactive %}


{% block body %}
{% load static %}


<body>
<h1>Welcome!!!</h1>
<p>
    Welcome to the FireFlight project.  The main purpose of this project is to display accurate data regarding birds.
    These bird populations indicate the health of an ecosystem.  The bigger the population of birds 
    in an area, the healthier the ecosystem.  Below is a link to the map, feel free to navigate the map
    accordingly.  If you wish to see some instructions about the map, feel free to navigate to the instructions 
    page below.
</p>
</br>
<a href="/map" class="btn btn-secondary" >
    Map
</a>
<a href="/instructions" class="btn btn-secondary" >
    Instructions
</a>



</body>





{% endblock %}