{% extends 'header.html' %}

{% block title %} Instructions {% endblock %}
{% block homeactive %} active {% endblock homeactive %}


{% block body %}
{% load static %}


<body>
<h1>Instructions</h1>
<p>Below, is an interactive tool that displays the health of an ecosystem.
The heat map shows the amount of birds in a given area.  There are filters on the side of map that will allow for there 
to be different aspects to be viewed separately or together. Select the bird species that you wish to view.  The map will 
generate the data based on the selected birds (or all birds if no birds are selected in the filters).
The + and - buttons at the top left allow you to zoom in and out of the map to get a better understanding of 
the data that is being displayed. Feel free to interact with our button here.  
</p>
</br>
<a href="/map" class="btn btn-secondary" >
    Map
</a>


</body>


{% endblock %}