{% extends 'header.html' %}

{% block title %} Map {% endblock %}
{% block mapactive %} active {% endblock mapactive %}


{% block body %}
{% load static %}


<div class = "col-md-6 mx-auto">
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-117.93196678161623%2C33.80619926145449%2C-117.90898561477663%2C33.821067939638574&amp;layer=mapnik" style="border: 1px solid black"></iframe>
    
    <br/>

    <small>
        <a href="https://www.openstreetmap.org/#map=16/33.81363/-117.92048">View Larger Map</a>
    </small>

    <div class="d-flex justify-content-center">

            <a href="/map" class="btn btn-secondary mx-1">
            Refresh
            </a>

            <button class="btn btn-secondary mx-1">
                Export Data
            </button>

            <button class="btn btn-secondary dropdown-toggle mx-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Bird Species
            </button>
           
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <div class="list-group" style="height: 30vh; overflow-y: scroll;">
                    
                    {% for bird in birds %}
                    
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value=" {{bird.speciesID}} ">
                        {{bird.species}}
                    </label>  
                
                    {% endfor %}

                </div>
            </div>
  


    </div>
    
</div>





{% endblock %}