{% extends 'header.html' %}

{% block title %} Map {% endblock %}
{% block mapactive %} active {% endblock mapactive %}

{% block body %}
{% load static %}

{% if not waiting %}
<div class="col-md mx-auto">
    
    <!-- Map and bird selection -->
    <div class="row justify-content-center">
        
        <div class="col-8 d-flex justify-content-center">
            <!-- Using the passed timestamp to bust cache on the iframe source -->
            <iframe width="850" height="500" src="/enchanted-circle-map/?v={{ timestamp }}&embed={{ embed }}" style="border: 1px solid black"></iframe>
        </div>
    
        <div class="col-3">
            
            <!-- Search bar and search button -->
            <div class = "d-flex my-1">
                <input class="w-100 rounded" type="text" id="searchInput" onkeyup="liveSearch()" placeholder="Search birds...">
            </div>

            <div class="form-floating text-start">
            <!-- bird checklist -->
            <form action="/map/" method="post" id="birdForm" name="birdForm">
                {% csrf_token %}             
                    <div class="list-group" style="height: 60vh; overflow-y: scroll;" id="birdList">
                        {% for bird in birds %}
                            <!-- Currently: can choose any bird.
                                Goal: can choose only birds that are not protected. -->
                            <label class="list-group-item" for="{{ bird.speciesID }}" name="birdItem">
                                <input class="form-check-input me-1" type="checkbox" name="birdSpecies" value="{{ bird.speciesID }}" checked>
                                {{ bird.species }}
                            </label>
                        {% endfor %}
                    </div>
            </form>
            </div><!-- end floating form -->
        
           
        
        </div> <!-- end dropdown div -->
    </div> <!-- end map & bird species div -->

    <br/>

    <!-- Buttons below map -->
    <div class="d-flex justify-content-center">
        <!-- Navigates to full map page -->
        <a href="/enchanted-circle-map" class="btn btn-secondary mx-1">
            View Larger Map
        </a>

        <!-- will apply chosen options from bird selection
         Move potentially?? -->
        <button class="btn btn-secondary mx-1" form="birdForm" type="submit">
            Update
        </button>

        <!-- exports the data currently shown on the screen -->
        <form action="/download/" method="post" id="exportCSV">
            {% csrf_token %}
            <button class="btn btn-secondary mx-1" type="submit" name="exportCSVButton">
                Export Data
            </button>

        </form>

    </div> <!-- end buttons div -->
    
</div> <!-- end outer div -->
{% endif %}

<script src="{% static 'search_function.js' %}"></script>

{% endblock %}
