{% extends 'header.html' %}

{% block title %} Map {% endblock %}
{% block mapactive %} active {% endblock mapactive %}


{% block body %}
{% load static %}


<div class = "col-md-6 mx-auto">
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-117.93196678161623%2C33.80619926145449%2C-117.90898561477663%2C33.821067939638574&amp;layer=mapnik" style="border: 1px solid black"></iframe>
    
    <br/>
    <small>
      <a href="https://www.openstreetmap.org/#map=16/33.81363/-117.92048">View Larger Map</a>
      </small>
    <div class="d-flex justify-content-center">
      <div class="dropdown">
        <a href="/map" class="btn btn-secondary">
          Refresh
        </a>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          Lands
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">TomorrowLand</a>
          <a class="dropdown-item" href="#">AdventureLand</a>
          <a class="dropdown-item" href="#">FantasyLand</a>
          <a class="dropdown-item" href="#">Galaxy's Edge</a>
          <a class="dropdown-item" href="#">ToonTown</a>
          <a class="dropdown-item" href="#">New Orleans Square</a>
          <a class="dropdown-item" href="#">Critter Country</a>
        </div>
  
      </div>
    </div>
    

  </div>
    
</div>





{% endblock %}